{% assign section_bg 	     = section.settings.section_bg | img_url: 'master' %}
{% assign section_bg_mob 	 = section.settings.section_bg_mob  | img_url: 'master' %}
{% assign section_text 	     = section.settings.section_text %}
{% assign btn_bg 	         = section.settings.btn_bg %}
{% assign btn_text 	         = section.settings.btn_text %}
{% assign btn_link 	         = section.settings.btn_link %}

<style>
	#lp-description-section {
		background-image: url({{ section_bg }});
	}

	@media (max-width: 700px) {
		#lp-description-section {
			background-image: none;
			padding: 0;
		}
	}

	#lp-description-section .lp-description__btn {
		background-color: {{ btn_bg }} !important;
	}
</style>

<section id="lp-description-section">
	<div class="lp-description__container">
		<div class="lp-description__block-bg-mob">
			<img src="{{ section_bg_mob }}" alt="">
		</div>
		<div class="lp-description__block">
			{{ section_text }}

			<a href="{{ btn_link }}" class="lp-description__btn">{{ btn_text }}</a>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "Description Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "section_bg",
      "label": "Background IMG of Section"
    },
    {
      "type": "image_picker",
      "id": "section_bg_mob",
      "label": "Background IMG of Section Mob"
    },
    {
      "type": "textarea",
      "id": "section_text",
      "label": "Text of Section"
    },
    {
      "type": "color",
      "id": "btn_bg",
      "label": "Button background"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Text of Button",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ]
}
{% endschema %}
